@model IEnumerable<ArticleByTagViewModel>
@{
}
	@foreach (var item in Model)
{
	<div class="card" style="border:hidden">
		<div class="card-header" style="padding-bottom: initial; border:hidden">
			<div class="row">
				<div class="col-2">
					<img alt="Interview With a Senior C# Developer: Creating a Better Code" class="rounded-circle" src="~/uploads/defaultuserpicture/user (2).png" width="36" height="36" loading="lazy" style="margin-left: -10%;margin-top: -3%;">
				</div>
				<div class="col-10">
					<h6 style="margin-left: -16%; margin-top: 1%;" class="align-item-center">
						@item.UserName
					</h6>
				</div>
			</div>
		</div>
		<div class="row g-0">
			<div class="col-md-10">
				<div class="card-body">
					<h5 class="card-title fw-bold">
						@item.Title
					</h5>
					<p class="card-text">@item.Content...</p>
					<p class="card-text"><small class="text-muted">@item.CreatedTime</small></p>
				</div>
			</div>
			<div class="col-md-2" style="margin-top:4%">
				<img alt="Interview With a Senior C# Developer: Creating a Better Code" class="" src="~/uploads/@item.ArticleCoverPhoto" width="112" height="112" loading="lazy">
				@*<img src="..." class="img-fluid rounded-start" alt="...">*@
			</div>
		</div>
		<div class="card-footer text-muted" style="border:hidden;background-color:white">
			@foreach (var tag in item.Tags )
			{
				<span style="cursor:pointer" class="badge rounded-pill bg-light text-dark" href="@tag.TagUrl">@tag.TagName</span>
			}
			
			<span class="badge rounded-pill bg-light text-dark">@item.ReadTime dk. Okuma Süresi</span>
		</div>
	</div>
	<hr />
	<br />
}
	






@*		<div class="card" style="border:hidden">
			<div class="card-header" style="padding-bottom: initial; border:hidden">
				<div class="row">
					<div class="col-2">
						<img alt="Interview With a Senior C# Developer: Creating a Better Code" class="rounded-circle" src="https://miro.medium.com/v2/resize:fill:123:123/1*1Vcf3mabHyL-nWbedRPokw.jpeg" width="36" height="36" loading="lazy" style="margin-left: -10%;margin-top: -3%;">
					</div>
					<div class="col-10">
						<h6 style="margin-left: -16%; margin-top: 1%;" class="align-item-center">
							Ceren Tatoğlu
						</h6>
					</div>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-md-10">
					<div class="card-body">
						<h5 class="card-title fw-bold">Card title</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
				<div class="col-md-2" style="margin-top:4%">
					<img alt="Interview With a Senior C# Developer: Creating a Better Code" class="" src="https://miro.medium.com/v2/resize:fill:123:123/1*1Vcf3mabHyL-nWbedRPokw.jpeg" width="112" height="112" loading="lazy">
				
				</div>
			</div>
			<div class="card-footer text-muted" style="border:hidden;background-color:white">
				<span style="cursor:pointer" class="badge rounded-pill bg-light text-dark">Sağlıklı Yaşam</span>
				<span class="badge rounded-pill bg-light text-dark">5 dk. Okuma Süresi</span>
			</div>
		</div>
		<hr />
		<br />
		<div class="card" style="border:hidden">
			<div class="card-header" style="padding-bottom: initial; border:hidden">
				<div class="row">
					<div class="col-2">
						<img alt="Interview With a Senior C# Developer: Creating a Better Code" class="rounded-circle" src="https://miro.medium.com/v2/resize:fill:123:123/1*1Vcf3mabHyL-nWbedRPokw.jpeg" width="36" height="36" loading="lazy" style="margin-left: -10%;margin-top: -3%;">
					</div>
					<div class="col-10">
						<h6 style="margin-left: -16%; margin-top: 1%;" class="align-item-center">
							Ceren Tatoğlu
						</h6>
					</div>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-md-10">
					<div class="card-body">
						<h5 class="card-title fw-bold">Card title</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
				<div class="col-md-2" style="margin-top:4%">
					<img alt="Interview With a Senior C# Developer: Creating a Better Code" class="" src="https://miro.medium.com/v2/resize:fill:123:123/1*1Vcf3mabHyL-nWbedRPokw.jpeg" width="112" height="112" loading="lazy">
				</div>
			</div>
			<div class="card-footer text-muted" style="border:hidden;background-color:white">
				<span style="cursor:pointer" class="badge rounded-pill bg-light text-dark">Sağlıklı Yaşam</span>
				<span class="badge rounded-pill bg-light text-dark">5 dk. Okuma Süresi</span>
			</div>
		</div>*@
	
