@*@model IEnumerable<ArticleViewModel>

<section id="testimonials" class="testimonials">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="testimonial-item">
                        <img src="~/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img rounded-circle" alt="">
                        <h4>@item.AuthorName</h4>
                        <br />
                        <h6 class="fw-bold">@item.Title</h6>
                        <span style="font-size:smaller">
                            @item.Summary
                        </span>
                        <div class="row">
                            <div class="col-8">
                                <small class="" style="font-size:x-small">@item.CreatedTime</small>
                                <small class="" style="font-size:x-small">&#9830</small>
                                <small class="" style="font-size:x-small"> Okuma Süresi: @item.ReadTime dk</small>
                            </div>

                        </div>

                    </div>
                </div>
            }
        </div>

    </div>
</section>*@<!-- End Testimonials Section -->