@model List<SelectListItem>
@{
	Layout = "_EmptyLayout";
}
<link href="~/css/slick.css" rel="stylesheet" />
<style>
	.btn-tag {
		background-color: #ECEFF1;
		text-transform: capitalize !important;
		margin-bottom: 10px;
		box-shadow: none;
	}

		.btn-tag:hover {
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
		}

	.slick-center {
		/*text-decoration: underline;
		text-decoration-color: black;*/
		padding-bottom: 10px;
		border-bottom: 1px solid black;
	}

	.slick-slide {
		outline: none
	}
</style>

@*<div class="container">
	<section class="" id="section-related-resources">

		<style>
			.btn-tag {
				background-color: #ECEFF1;
				text-transform: capitalize !important;
				margin-bottom: 10px;
				box-shadow: none;
			}

				.btn-tag:hover {
					box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
				}

		</style>
		<h2>Related resources</h2>
		<div class="justify-content-start text-start w-100 my-5">

			@foreach (var item in Model)
			{
				<a href="https://mdbootstrap.com/learn/mdb-foundations/bootstrap/badges/" class="btn btn-tag btn-rounded ripple-surface" data-mdb-close="true">
					@item.Text
				</a>
			}
		</div>
	</section>
</div>*@

<section class="vh-100 d-flex justify-content-center align-items-center">
	<div class="container">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6">
				<div class="card text-black">
					<div class="card-body p-5">
						<div class="logo justify-content-center align-items-center">
							<h1 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"><a asp-action="Index" asp-controller="Home">ForeSight</a></h1>
						</div>
						<section class="" id="section-related-resources">


							<h2>Lütfen İlgi Alanlarınızı Belirleyiniz</h2>
							<div class="justify-content-start text-start w-100 my-5">

								@foreach (var item in Model)
								{
									<a href='javascript:;' data-id="@item.Value" class="btn btn-tag btn-rounded ripple-surface selectableTag" data-mdb-close="true">
										@item.Text <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
									</a>

								}
							</div>
							<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
								<button type="button" onclick="TagCreate()" class="btn btn-outline-dark btn-lg">İlgi Alanlarını Kaydet</button>
							</div>
						</section>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="tsettt">
	@foreach (var item in Model)
	{
		<a href='javascript:;' data-id="@item.Value" style="text-align: center; color:black" class="btn-rounded ripple-surface" data-mdb-close="true">
			@item.Text
		</a>

	}
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


@section Scripts {
	<script>

		$(".selectableTag").click(function () {

			var el = $(this)[0];
			var iTag = $(el).find("i")[0];
			if ($(iTag).hasClass("fa fa-check-circle text-success")) {
				$(iTag).removeClass("fa fa-check-circle text-success");
				$(iTag).addClass("fa fa-times-circle text-danger");
				$(el).removeClass("tagSelected");
			} else {
				$(iTag).removeClass("fa fa-times-circle text-danger");
				$(iTag).addClass("fa fa-check-circle text-success");
				$(el).addClass("tagSelected");
			}


		});
		function TagCreate() {
			var tagArray = [];
			$(".tagSelected").each(function (index, element) {

				var tag = $(element).attr("data-id");
				tagArray.push(tag);

			});
			var data = {
				UserId: 2,
				TagIds: tagArray,
			};
			console.log(data);
			HttpRequest.Post("/Account/SelectedTagUser", data, function (result) {
				ShowMessage(result.state, result.message);
			});
		}

		$(document).ready(function () {
			$('.tsettt').slick({
				slidesToShow: 4,
				slidesToScroll: 1,
				arrows:false,
				focusOnSelect: true,
				centerMode: true,
			});
		});

	</script>


	<script src="~/js/slick.min.js"></script>
}